:root {
  --bs-primary: #00EED1; 
  --bs-black: #0F172A;
  --bs-red: #DC2626;
  --bs-light-red:#FEE2E2;
  --bs-dark-red: #B91C1C;
  --bs-green:#059669;
  --bs-light-green: #ECFDF5;
  --bs-grey:#A7AEB8;
  --bs-light-grey: #F1F5F9;
  --bs-light-blue:#F8FAFC;
}

@font-face {
  font-family: 'Yarop';
  src: url('assets/YaroOp.ttf') format('truetype'),}

body {
  font-family: 'Plus Jakarta Sans';
}

h1,h2,h3,h5{
  text-transform: lowercase;
}

h1,h2,h3,h5:first-letter{
    text-transform: capitalize;
    cursor: default;
}
  
 .button-primary {
    background-color: var(--bs-primary);
    border: none;
    font-weight: bold;
    height:40px;
    color: var(--bs-black);
   
  }

  .button-primary:hover, .button-primary:active {
    background-color: var(--bs-primary);
  }


  .form-check-input[type=radio]:checked {
    background-color: white;
    border-color: var(--bs-primary);
    outline: none;
  }

  .dropdown-item:focus {
    
    background-color: var(--bs-primary);
    color: var(--bs-primary);
  }
  
  .button-secondary, .button-secondary:hover, .button-secondary:active  {
    background-color: white;
    border: solid 1px var(--bs-primary);
    height:40px;
    color: var(--bs-primary);
    
  }

  .button-extra, .button-extra:hover, .button-extra:active{
    background-color: white !important;
    border: solid 1px var(--bs-black);
    height:40px;
    color: var(--bs-black);
  }

  .button-circle, .button-circle:hover, .button-circle:focus{
   background-color: var(--bs-primary) !important;;
  border: 1px solid  var(--bs-primary)!important;;
  border-radius: 20px;
  color:var(--bs-black);
  
  }


  h1{
    font-size: 64px;
    font-weight: bold;
  }

  h2{
    font-size: 40px;
    margin-top: 20px;
  }

  h3{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }

  h4{
    font-size: 23px;
  }

 

  h5{
    font-size: 16px;
  }

  .logo-img{
    width: 70px;
  }
  .logo-txt{
    font-weight: bold;
    font-family: 'Yarop';
  }

  .image{
    width: 600px;
  }

  .rating-item {
    display: inline-block;
    position: relative;
  }
  
  .rating-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

  .container{
    padding-left: 5%; 
    padding-right: 5%;
  }

  .container-s{
    padding-left: 10%;
    padding-right: 10%;
  }

  .container-xs{
    padding-left: 30%;
    padding-right: 30%;
  }


  .custom-placeholder::placeholder {
    color:var(--bs-grey);
    text-align: center;
    font-size: 14px;
  }
  

  