.input-with-icon {
    position: relative;
  }
  
  .input-with-icon .icon {
    position: absolute;
    left: 90%; 
    top: 50%
    
  }

  .form-control:focus {
    
    border-color: var(--bs-primary);
    box-shadow: none;
}

.input-error{
  border-color: black;
  box-shadow: none;
}
.FormGroup .input-error {
  border-color: green;
 
}

.feedback-error{
  color: var(--bs-red);
}


  